<div class="container">
<h2>Profile Details</h2>
<p> <a class="p-2 text-dark" href="#"> <%=link_to "Add New Profile", new_profile_path %> </a> </p>
<table border="1" class="table">
<tr>
<th>Forename</th>
<th>Surname</th>
<th>Date of Birth</th>
<th>Address</th>
<th>City / Town</th>
<th>County</th>
<th>Photo</th>
<th>Details</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<% @profiles.each do |profile| %>

<tr>
<td> <%= profile.fname %> </td>
<td> <%= profile.lname %> </td>
<td> <%= profile.date %> </td>
<td> <%= profile.address %> </td>
<td> <%= profile.city %> </td>
<td> <%= profile.county %> </td>
<td> <%= profile.photo %> </td>

<td> <%= link_to 'Show', profile_path(profile) %> </td>
<td> <%= link_to 'Edit', edit_profile_path(profile) %> </td>
<td> <%= link_to 'Delete', profile_path(profile),
method: :Delete,
data: {confirm: "Are you sure you want to delete the Profile?"}
%> </td>

</tr>
<% end %>
</table>
</div>