<div class="container">
<h3>Profile</h3>

<p>Forename: <%= @profile.fname %> </p>
<p>Surname: <%= @profile.lname %> </p>
<p>Date of Birth: <%= @profile.date %> </p>
<p>Address: <%= @profile.address %> </p>
<p>City / Town: <%= @profile.city %> </p>
<p>County: <%= @profile.county %> </p>
<p>Photo: <%= @profile.photo %> </p>

</div>