<div class="container">
<h3>Product Details</h3>

<p>Product Name: <%= @product.pname %> </p>
<p>Brand: <%= @product.brand %> </p>
<p>Price: <%= @product.price %> </p>
<p>Category: <%= @product.category %> </p>
<p>Release Date: <%= @product.date %> </p>
<p>Description: <%= @product.description %> </p>
<p>Photo: <%= @product.photo %> </p>

</div>